In [2]:
# The movie database api
#  https://api.themoviedb.org/3/movie/top_rated?api_key=8777d9c586942ee574e65ea12273a4bc&language=en-US&page=5

In [4]:
import pandas as pd
import requests

In [6]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8777d9c586942ee574e65ea12273a4bc&language=en-US&page=5')

In [15]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date']]
df.head()

,id,title,overview,release_date
0,10376,The Legend of 1900,The story of a virtuoso piano player who lives...,1998-10-28
1,29259,Le Trou,Four prison inmates have been hatching a plan ...,1960-03-18
2,995133,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",2022-12-25
3,652837,"Josee, the Tiger and the Fish","With dreams of diving abroad, Tsuneo gets a jo...",2020-12-25
4,447362,Life in a Year,A 17 year old finds out that his girlfriend is...,2020-11-27

In [20]:
dff = pd.DataFrame()
data_frames = []
for i in range(1,429):
  response = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key=8777d9c586942ee574e65ea12273a4bc&language=en-US&page={i}')
  temp_dff = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date']]
  data_frames.append(temp_dff) 
dff = pd.concat(data_frames, ignore_index=True)
print(dff)

          id                     title  \
0        278  The Shawshank Redemption
1        238             The Godfather
2        240     The Godfather Part II
3        424          Schindler's List
4        389              12 Angry Men
...      ...                       ...
8555  960258                Shark Bait
8556  628917        An American Pickle
8557   15566       Surviving Christmas
8558  312831                The Hallow
8559   36599                Prom Night

                                               overview release_date
0     Imprisoned in the 1940s for the double murder ...   1994-09-23
1     Spanning the years 1945 to 1955, a chronicle o...   1972-03-14
2     In the continuing saga of the Corleone crime f...   1974-12-20
3     The true story of how businessman Oskar Schind...   1993-12-15
4     The defense and the prosecution have rested an...   1957-04-10
...                                                 ...          ...
8555  A group of friends enjoying a weekend steal a ...   2022-05-13
8556  An immigrant worker at a pickle factory is acc...   2020-07-26
8557  Drew Latham is an executive leading an empty, ...   2004-09-21
8558  Deep within the darkness of secluded forest la...   2015-11-06
8559  At a high school senior prom, a masked killer ...   1980-07-18

[8560 rows x 4 columns]

In [21]:
dff.to_csv('topratedmovies.csv')