In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.array([[1], [2], [2], [3], [4], [100]])
data = pd.DataFrame(data,columns=['values'])
data

   values
0       1
1       2
2       2
3       3
4       4
5     100

In [5]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaler.fit(data)
data_scaled = scaler.transform(data)
data_scaled = pd.DataFrame(data_scaled,columns=['scaled values'])
data_scaled

   scaled values
0      -0.857143
1      -0.285714
2      -0.285714
3       0.285714
4       0.857143
5      55.714286